
<div class="user-details">
  <h1> Contact Me </h1>
  <p> Get in touch to find out more about me and my work: </p>
<!--    <ul>
  <li> &bull; check out my LinkedIn profile - <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/raffaellacapasso/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>  </li>
  <li>  &bull; take a look at my public code projects    -     <a aria-label="My Github" target="_blank" href="https://github.com/RaCap"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a></li>
  <li> &bull; get in touch with an email    -     <a aria-label="Send email" href="mailto:rg.capasso@gmail.com"><i class="icon fa fa-envelope"></i></a> </li>
    </ul>
  
-->
         

<div class="contact-icons">

    <a aria-label="Send email" href="mailto:rg.capasso@gmail.com"><i class="icon fa fa-envelope"></i></a>

    <a href="https://www.linkedin.com/in/raffaellacapasso/" style="text-decoration: none"> <i class="icon fa fa-linkedin" aria-hidden="true"></i></a>

    <a aria-label="My Github" target="_blank" href="https://github.com/RaCap"><i class="icon fa fa-github" aria-hidden="true"></i></a>


</div>
