<div class="user-details" style=" margin-bottom:-90px ">
  <h1> My Work </h1>
</div>


<div class="user-projects">
  <div class="images-right" >
    <img alt="cluster"  src="{{ "/assets/img/cluster.jpg" | prepend: site.baseurl }}"  style="transform:translateY(25%)" />
    <figcaption  style="transform:translateY(25%);font-size:14px">
      <span class="caption" >SDSS J0333+0651.</span>
      <i class="photo-credit">Credit: ESA/Hubble & <a href="https://www.nasa.gov/image-feature/goddard/2018/hubbles-galaxy-cluster-cornucopia/" style="text-decoration: none;color: blue"> NASA</a>. </i>
    </figcaption>
  </div>

 
  
  <div class="contents" >
  <h3> Galaxy Clusters </h3>

  <p>Galaxy clusters are the result of the gravitational collapse of overdense regions that are seeded by processes in the early universe, followed by a sequence of mergers and accretion of surrounding material. These structures are important laboratories for investigations of structure formation and galaxy evolution, as well as useful cosmological probes. Through my work, I try to shed light on their history, their formation and how they fit within the larger cosmological framework.
To understand the physics of these objects, I perform dynamical analyses using member galaxies as tracers of the clusters' gravitational potential. 
</p>
    <a class="project-link" href="https://arxiv.org/pdf/1711.09903.pdf">Find out more</a>
  </div>


  <div class="user-projects">
    <div class="images-left">



	<video muted autoplay  width="400" style="position:absolute;transform:translateX(0%);transform:translateY(-10%)" controls="controls" alt="Large scale structure video" src="{{"/assets/img/video4.m4v" type="video/m4v" | prepend: site.baseurl }}"></video>
      <!--    <p>Sorry, your browser doesn't support embedded videos.</p> -->
      <figcaption  style="transform:translateY(250pt);font-size:14px">Video created with <a href="https://www.paraview.org/" style="text-decoration: none;color: blue"> ParaView</a> on the <a href="https://www.illustris-project.org/" style="text-decoration: none;color: blue"> Illustris Simulation</a>. </figcaption>


    </div>

    <div class="contents-right"  style="transform:translateY(20%)">
      <h3> Cosmology & Large-Scale Structure </h3>

      <p> I apply advanced statistical methods, such as machine learning, to big astrophysical datasets to compare models with the observed Universe. </p>
      <a class="project-link" href="https://www.aquila-consortium.org/">Check it out</a>
    </div>

  </div>



</div>
